html {
	-webkit-text-size-adjust:100%
}

.main-header {
	will-change:transform, scroll-position;
   -webkit-transform:translateZ(0);
	right:0
}

.main-header {
	height:46px;
	position:fixed;
	top:0;
	left:0;
	z-index:1025;
	overflow:visible;
	background:#fff;
-webkit-transition:height .25s ease-in-out, -webkit-transform .4s ease;
-o-transition:height .25s ease-in-out, transform .4s ease, -o-transform .4s ease;
transition:height .25s ease-in-out, transform .4s ease;
transition:height .25s ease-in-out, transform .4s ease, -webkit-transform .4s ease, -o-transform .4s ease;
	transform:translateZ(0)
}
.main-header .container {
	height:100%;
	text-align:center
}

.main-header-container {
	position:relative;
	z-index:4
}
.hamburger, .hamburger:active, .hamburger:focus, .hamburger:hover {
	color:#000;
	text-decoration:none
}
.hamburger {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:55px;
	height:46px;
	z-index:4;
	-ms-touch-action:manipulation;
	touch-action:manipulation
}
.hamburger span, .hamburger:after, .hamburger:before {
	content:'';
	position:absolute;
	left:15px;
	display:block;
	width:25px;
	height:3px;
	background:#c53752;
-webkit-transition:none .35s ease .35s;
-o-transition:none .35s ease .35s;
transition:none .35s ease .35s;
	-webkit-transition-property:top, left, opacity, -webkit-transform;
	-o-transition-property:transform, top, left, opacity, -o-transform;
	transition-property:transform, top, left, opacity;
	transition-property:transform, top, left, opacity, -webkit-transform, -o-transform
}
.hamburger:before {
	top:14px
}
.hamburger span {
	top:22px
}
.hamburger:after {
	top:30px
}
html.mm-opening .hamburger:after, html.mm-opening .hamburger:before {
	top:22px
}
html.mm-opening .hamburger:before {
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg)
}
html.mm-opening .hamburger:after {
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
html.mm-opening .hamburger span {
	opacity:0
}

.main-header__logo {
	will-change:transform, scroll-position
}
.main-header__logo__img {
	position:relative;
	display:inline-block;
	vertical-align:middle
}
.main-header__logo__img--big {
	z-index:2;
	width:46px;
	height:46px;
-webkit-transition:-webkit-transform .25s ease-in-out;
-o-transition:transform .25s ease-in-out, -o-transform .25s ease-in-out;
transition:transform .25s ease-in-out;
transition:transform .25s ease-in-out, -webkit-transform .25s ease-in-out, -o-transform .25s ease-in-out
}
.main-header__logo__img--small {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-7px;
	margin-left:-37px;
	z-index:1;
	-webkit-transform:translate(0, 50px);
	-ms-transform:translate(0, 50px);
	-o-transform:translate(0, 50px);
	transform:translate(0, 50px);
-webkit-transition:-webkit-transform .25s ease-in-out;
-o-transition:transform .25s ease-in-out, -o-transform .25s ease-in-out;
transition:transform .25s ease-in-out;
transition:transform .25s ease-in-out, -webkit-transform .25s ease-in-out, -o-transform .25s ease-in-out
}
.main-header.is-mini .main-header__logo__img--big {
	-webkit-transform:translate(0, -100%);
	-ms-transform:translate(0, -100%);
	-o-transform:translate(0, -100%);
	transform:translate(0, -100%)
}
.main-header.is-mini .main-header__logo__img--small {
	-webkit-transform:translate(0, 0);
	-ms-transform:translate(0, 0);
	-o-transform:translate(0, 0);
	transform:translate(0, 0)
}
.main-header.is-mini .secondary-nav__item--eba a {
	-webkit-transform:translate(0, -45px);
	-ms-transform:translate(0, -45px);
	-o-transform:translate(0, -45px);
	transform:translate(0, -45px)
}
.main-nav {
	float:left;
	display:none;
	height:100%
}
.main-nav ul {
	height:100%;
	margin:0;
	padding:0;
	list-style:none
}
.main-nav__item {
	display:block;
	height:100%;
	float:left;
	padding:0;
	margin:0;
	vertical-align:middle
}
.main-nav__link {
	position:relative;
	display:table;
	height:100%;
	padding:1px 17px 0;
	font-family:Oswald, sans-serif;
	font-size:15px;
	line-height:18px;
	text-transform:uppercase;
	text-align:center;
	color:#333
}
.main-nav__link:active, .main-nav__link:focus, .main-nav__link:hover {
	color:#333;
	text-decoration:none
}
.main-nav__link__text {
	position:relative;
	display:table-cell;
	height:100%;
	vertical-align:middle;
	overflow:hidden
}
.main-nav__link__text:before {
	content:'';
	display:block;
	width:100%;
	height:5px;
	position:absolute;
	bottom:0;
	background:#DDB7C2;
	-webkit-transform:scaleX(0);
	-ms-transform:scaleX(0);
	-o-transform:scaleX(0);
	transform:scaleX(0);
-webkit-transition:-webkit-transform .2s ease-in-out;
-o-transition:transform .2s ease-in-out, -o-transform .2s ease-in-out;
transition:transform .2s ease-in-out;
transition:transform .2s ease-in-out, -webkit-transform .2s ease-in-out, -o-transform .2s ease-in-out
}
.browser-no-touchevents .main-nav__link:hover .main-nav__link__text:before, .main-nav__item.is-active .main-nav__link__text:before, .main-nav__item.is-hover .main-nav__link__text:before {
	-webkit-transform:scaleX(1);
	-ms-transform:scaleX(1);
	-o-transform:scaleX(1);
	transform:scaleX(1)
}
.main-nav__item--muebles .main-nav__link__text:before {
	background:#CCCC8F
}
.main-nav__item--proyectos .main-nav__link__text:before {
	background:#A4BAC8
}
.main-nav__item--recursos .main-nav__link__text:before {
	background:#C9C9C7
}
.main-nav__item--empresa .main-nav__link__text:before {
	background:#DDB7C2
}
.main-nav__item--noticias .main-nav__link__text:before {
	background:#EBD3BB
}
.main-nav__item--sup .main-nav__link__text:before {
	background:#E2C1F0
}
.main-nav__item--contact .main-nav__link__text:before {
	background:#91C8E6
}
.main-subnav {
	background:rgba(237, 237, 237, 0.7);
}
.main-subnav, .mm-page, .mm-panel, .mm-panel.mm-current, .product-navbar {
	will-change:transform
}
.main-subnav, html.browser-touchevents .secondary-nav__item__link-icon:active .secondary-nav__item__tooltip, html.browser-touchevents .secondary-nav__item__link-icon:focus .secondary-nav__item__tooltip, html.browser-touchevents .secondary-nav__item__link-icon:hover .secondary-nav__item__tooltip {
	display:none
}
.main-subnav {
	position:absolute;
	z-index:3;
	top:100%;
	right:0;
	left:0;
	display:block;
	border-top:1px solid #eee;
	-webkit-transform:scaleY(0);
	-ms-transform:scaleY(0);
	-o-transform:scaleY(0);
	transform:scaleY(0);
	-webkit-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;
-webkit-transition:-webkit-transform .22s cubic-bezier(.23, 1, .32, 1);
-o-transition:transform .22s cubic-bezier(.23, 1, .32, 1), -o-transform .22s cubic-bezier(.23, 1, .32, 1);
transition:transform .22s cubic-bezier(.23, 1, .32, 1);
transition:transform .22s cubic-bezier(.23, 1, .32, 1), -webkit-transform .22s cubic-bezier(.23, 1, .32, 1), -o-transform .22s cubic-bezier(.23, 1, .32, 1)
}
.main-subnav-section-left {
	width:70%;
	float:left;
}
.main-subnav-section-right {
	width:30%;
	float:left;
}
.main-subnav__item__link, .secondary-nav__item__link, .secondary-nav__item__tooltip {
	font-family:Oswald, sans-serif;
	text-transform:uppercase
}
.main-subnav, .mm-page, .mm-panel, .mm-panel.mm-current, .product-navbar {
	will-change:transform
}
.main-subnav.is-active {
	-webkit-transform:scaleY(1);
	-ms-transform:scaleY(1);
	-o-transform:scaleY(1);
	transform:scaleY(1);
-webkit-transition:-webkit-transform .12s cubic-bezier(.755, .05, .855, .06);
-o-transition:transform .12s cubic-bezier(.755, .05, .855, .06), -o-transform .12s cubic-bezier(.755, .05, .855, .06);
transition:transform .12s cubic-bezier(.755, .05, .855, .06);
transition:transform .12s cubic-bezier(.755, .05, .855, .06), -webkit-transform .12s cubic-bezier(.755, .05, .855, .06), -o-transform .12s cubic-bezier(.755, .05, .855, .06)
}
.main-subnav-section {
	position:relative;
	display:none;
	padding-top:24px;
	padding-bottom:15px;
	margin:0 auto
}
.main-subnav-section.is-active {
	display:block
}
.main-subnav-section--muebles .container {
	padding-left:135px
}
.main-subnav-section--recursos .container, .main-subnav-section--proyectos .container {
	padding-left:178px
}
.main-subnav-section--empresa .container {
	padding-left:138px
}
.main-subnav-section--noticias .container {
	padding-left:368px
}
body.lang-fr .main-subnav-section--noticias .container {
	padding-left:361px
}
.main-subnav__muebles__col-left, .main-subnav__muebles__col-right .main-subnav__item {
	padding-right:0;
	padding-left:0
}
.main-subnav__muebles__col-right {
	padding-top:86px;
	padding-right:0;
	text-align:right;
	padding-left:0
}
.main-subnav__item, .main-subnav__item__link {
	text-align:left;
	display:inline-block;
	vertical-align:top;
}
.main-subnav__nav {
	margin:0;
	padding:0;
	font-size:0;
	list-style:none;
	padding-top:60px;
}
.main-subnav__item {
	padding:0 8px 0 7px;
	margin-bottom:40px
}
.main-subnav__item.is-active .main-subnav__item__link {
	text-decoration:none;
	color:#000
}
.main-subnav__item__link {
	width:160px;
	font-size:13px;
	line-height:1.2;
	text-decoration:none;
	color:#9E9E9E
}
.main-subnav__item__link:active, .main-subnav__item__link:focus, .main-subnav__item__link:hover {
	text-decoration:none;
	color:#000
}
.main-subnav__item__link--wauto {
	width:auto
}
.main-subnav__item__icon {
	width:64px;
	height:64px;
	margin-bottom:15px;
	pointer-events:none
}
.main-subnav__item__title {
	position:relative;
	display:inline-block;
	padding-right:23px;
	text-align:left;
	margin:10px 0;
}
.main-subnav__item a {
	color:#000;
}
.main-subnav__item a:hover {
	color:#e41f20;
}
.main-subnav__item__arrow {
	position:absolute;
	top:1px;
	right:0
}
.main-subnav__item--small {
	padding:0 12px;
}
.main-subnav__item--small .main-subnav__item__link {
	width:90px;
	font-family:UniversLT-CondensedLight, Arial, sans-serif;
	font-size:15px;
	text-transform:none
}

.main-subnav__item--small .main-subnav__item__link:active .main-subnav__item__title, .main-subnav__item--small .main-subnav__item__link:focus .main-subnav__item__title, .main-subnav__item--small .main-subnav__item__link:hover .main-subnav__item__title {
	text-decoration:none
}
.main-subnav__item--small .main-subnav__item__link .main-subnav__item__title {
	padding-right:0;
	text-align:center
}
.main-subnav__item--small .main-subnav__item__icon {
	width:48px;
	height:48px;
	margin-bottom:8px
}
.main-subnav__title {
	display:inline-block;
	margin-bottom:12px;
	font-size:13px;
	line-height:1.25;
	text-transform:uppercase;
	text-decoration:none;
	color:#9E9E9E;
	white-space:nowrap;
}
.main-subnav__title.is-active, .main-subnav__title:active, .main-subnav__title:focus, .main-subnav__title:hover {
	color:#000;
	text-decoration:none
}
.main-subnav__title .icon-svg {
	position:relative;
	top:2px
}
.pdt-home-list ul li {
	width:23%;
	margin-right:2%;
	float:left;
	list-style:none;
}
.pdt-home-list ul li img {
	margin:10px auto;
	width:40px;
	height:auto;
	display:inline-block;
}
.pdt-home-list ul li span {
	border-bottom:#000 solid 1px;
}
.pdt-type-list li {
	clear:both;
}
.main-subnav__title, .mm-menu .mm-listview>li a.main-nav-mobile__subtitle, .mm-menu .mm-listview>li a.main-nav-mobile__title, .mm-menu .mm-listview>li span.main-nav-mobile__subtitle, .mm-menu .mm-listview>li span.main-nav-mobile__title, .mm-navbar .mm-title, .product-navbar__title, .tablet-nav__link, .tablet-subnav__title {
	font-family:Oswald, sans-serif
}
#nav-mobile:not(.mm-menu) {
display:none
}
.mm-listview>li>a:not(.main-nav-mobile__title), .mm-listview>li>span:not(.main-nav-mobile__title) {
padding-top:11px;
padding-bottom:11px
}
.mm-menu .mm-listview>li a.main-nav-mobile__title, .mm-menu .mm-listview>li span.main-nav-mobile__title {
	padding-top:14px;
	padding-bottom:14px;
	font-size:16px;
	line-height:1.2;
	text-transform:uppercase;
	text-decoration:none;
	color:#000
}
.mm-menu .mm-listview>li a.main-nav-mobile__title:active, .mm-menu .mm-listview>li a.main-nav-mobile__title:focus, .mm-menu .mm-listview>li a.main-nav-mobile__title:hover, .mm-menu .mm-listview>li span.main-nav-mobile__title:active, .mm-menu .mm-listview>li span.main-nav-mobile__title:focus, .mm-menu .mm-listview>li span.main-nav-mobile__title:hover {
	text-decoration:none
}
.main-nav-mobile__title__icon {
	position:relative;
	top:-3px;
	width:26px;
	height:26px;
	color:#a7a7a7;
	margin-right:7px
}
.mm-menu .mm-listview>li a.main-nav-mobile__subtitle, .mm-menu .mm-listview>li span.main-nav-mobile__subtitle {
	font-size:15px;
	line-height:1.2;
	text-decoration:none;
	color:#000
}
.main-nav-mobile__subtitle__icon {
	position:relative;
	top:-3px;
	width:26px;
	height:26px;
	color:#a7a7a7;
	margin-right:5px
}
.mm-menu .mm-listview>li.main-nav-mobile__sublink {
	padding-left:20px
}
.main-nav-mobile__sublink__icon {
	position:relative;
	top:-2px;
	width:24px;
	height:24px;
	color:#a7a7a7;
	margin-right:5px
}
.mm-menu .mm-listview>li.main-nav-mobile__icons {
	font-size:0;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:20px
}
.mm-menu .mm-listview>li.main-nav-mobile__icons a, .mm-menu .mm-listview>li.main-nav-mobile__icons span {
	display:inline-block;
	padding-right:0;
	padding-left:0;
	margin-right:25px;
	line-height:19px;
	vertical-align:top;
	color:#c1c1c1
}
.mm-menu .mm-listview>li.main-nav-mobile__icons a .icon-svg, .mm-menu .mm-listview>li.main-nav-mobile__icons span .icon-svg {
	vertical-align:middle
}
.mm-menu .mm-listview>li.main-nav-mobile__icons a:active, .mm-menu .mm-listview>li.main-nav-mobile__icons a:focus, .mm-menu .mm-listview>li.main-nav-mobile__icons a:hover, .mm-menu .mm-listview>li.main-nav-mobile__icons span:active, .mm-menu .mm-listview>li.main-nav-mobile__icons span:focus, .mm-menu .mm-listview>li.main-nav-mobile__icons span:hover {
	color:#c1c1c1
}
.mm-menu .mm-listview>li.main-nav-mobile__languages {
	font-size:0;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:20px
}
.mm-menu .mm-listview>li.main-nav-mobile__languages a, .mm-menu .mm-listview>li.main-nav-mobile__languages span {
	display:inline-block;
	padding-left:0;
	padding-right:0;
	margin-right:18px;
	font-family:Oswald, sans-serif;
	font-size:16px;
	line-height:1.2;
	text-transform:uppercase;
	text-decoration:none;
	vertical-align:middle;
	color:#c1c1c1
}
.mm-menu .mm-listview>li.main-nav-mobile__languages a.is-active {
	color:#c53752
}
.mm-menu .mm-listview>li.main-nav-mobile__languages a:active, .mm-menu .mm-listview>li.main-nav-mobile__languages a:focus, .mm-menu .mm-listview>li.main-nav-mobile__languages a:hover {
	color:#c1c1c1;
	text-decoration:none
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__languages a:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__languages a:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__languages a:hover {
	color:#666;
	text-decoration:none
}
.mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link:active, .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link:focus, .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link:hover, .mm-menu .mm-listview>li.main-nav-mobile__social a:active, .mm-menu .mm-listview>li.main-nav-mobile__social a:focus, .mm-menu .mm-listview>li.main-nav-mobile__social a:hover {
	color:#c1c1c1
}
.mm-menu .mm-listview>li.main-nav-mobile__languages span {
	margin-right:28px
}
.mm-menu .mm-listview>li.main-nav-mobile__social {
	font-size:0;
	padding:7px 15px 7px 20px
}
.mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link {
	display:inline-block;
	padding-right:0;
	padding-left:0;
	line-height:24px;
	vertical-align:top;
	color:#c1c1c1
}
.mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link:not(:last-child) {
margin-right:20px
}
.mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link .icon-svg {
	vertical-align:middle
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--twitter:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--twitter:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--twitter:hover {
	color:#55acee
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--facebook:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--facebook:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--facebook:hover {
	color:#3b5998
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--youtube:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--youtube:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--youtube:hover {
	color:#cd201f
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--pinterest:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--pinterest:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--pinterest:hover {
	color:#bd081c
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--rss:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--rss:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--rss:hover {
	color:#f26522
}
.browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--linkedin:active, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--linkedin:focus, .browser-no-touchevents .mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link--linkedin:hover {
	color:#0077b5
}
.mm-menu .mm-listview>li.is-active>a.main-nav-mobile__title, .mm-menu .mm-listview>li.is-active>span.main-nav-mobile__title, .mm-menu .mm-listview>li.mm-selected>a.main-nav-mobile__title, .mm-menu .mm-listview>li.mm-selected>span.main-nav-mobile__title {
	color:#c53752;
	text-decoration:none;
	background:0 0
}
.main-nav-mobile__title__icon--iframe {
	padding:2px
}
.main-nav-mobile__badge, .main-nav__link__badge {
	margin-left:5px;
	padding:4px 7px;
	background-color:#c53752;
	font-size:10px
}
.main-nav-mobile__badge {
	position:absolute;
	top:14px
}
.icon-svg, .va-top {
	vertical-align:top
}
.icon-svg {
	display:inline-block;
	color:currentColor;
	line-height:1;
	stroke:currentColor
}
.icon-svg--fill {
	stroke:none;
	fill:currentColor
}
.icon-svg--stroke-fill {
	stroke:currentColor;
	fill:currentColor
}
.news__stat .icon-svg {
	color:#c1c1c1;
	margin-right:14px;
-webkit-transition:color .5s ease-in-out;
-o-transition:color .5s ease-in-out;
transition:color .5s ease-in-out
}
.news.news--photo-full .news__stat .icon-svg {
	color:inherit
}
.ambient__link .icon-svg {
	position:relative;
	margin-left:4px;
	vertical-align:middle
}
.carousel-products-item__stat .icon-svg {
	color:#c1c1c1;
	margin-right:14px
}
.carousel-products .owl-controls .owl-nav .owl-next .icon-svg, .carousel-products .owl-controls .owl-nav .owl-prev .icon-svg {
	position:absolute;
	top:36%;
	width:20px;
	height:51px
}
.carousel-products .owl-controls .owl-nav .owl-prev .icon-svg {
	left:9px
}
.carousel-products .owl-controls .owl-nav .owl-next .icon-svg {
	right:9px
}
.mfp-arrow .icon-svg {
	position:relative;
	z-index:1
}
.search-item__stat .icon-svg {
	color:#c1c1c1;
	margin-right:14px
}
.filters__bt-delete .icon-svg {
	margin-right:7px;
	vertical-align:middle;
	color:#AF3D13
}
.filters__section.is-open .filters__section__title .icon-svg {
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg)
}
.filters__section__title .icon-svg {
	vertical-align:top;
	margin-top:4px;
	margin-left:10px;
-webkit-transition:-webkit-transform .3s;
-o-transition:transform .3s, -o-transform .3s;
transition:transform .3s;
transition:transform .3s, -webkit-transform .3s, -o-transform .3s
}
.secondary-nav__item--separata .secondary-nav__item__link .icon-svg {
	position:relative;
	top:4px;
	width:21px;
	height:21px
}
.main-subnav__title .icon-svg {
	position:relative;
	top:2px
}
.mm-menu .mm-listview>li.main-nav-mobile__icons a .icon-svg, .mm-menu .mm-listview>li.main-nav-mobile__icons span .icon-svg {
	vertical-align:middle
}
.mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link .icon-svg {
	vertical-align:middle
}
.main-footer__social__link .icon-svg {
	vertical-align:middle
}
.product-feature__link .icon-svg {
	position:relative;
	margin-left:4px;
	vertical-align:middle
}
.calltoaction-fixed__btn .icon-svg {
	vertical-align:middle
}
.news-details__stat .icon-svg {
	margin-top:2px;
	color:#c1c1c1;
	margin-right:10px
}
.press__size .icon-svg {
	margin-right:8px
}
.ambient-product__circle__plus .icon-svg {
	width:10px;
	height:10px;
	vertical-align:middle
}
.ambient-products-list__item .icon-svg {
	position:absolute;
	top:8px;
	right:0;
	color:#000
}
.designer-award__link .icon-svg {
	position:relative;
	top:2px
}
.orgatec-program__link .icon-svg {
	position:relative;
	margin-left:4px;
	vertical-align:middle
}
.wally-wrap--fase2 .promo-wally-timer div.icon .icon-svg {
	vertical-align:middle
}
.wally-wrap--fase2 .promo-wally-timer div.icon .icon-svg .st0, .wally-wrap--fase2 .promo-wally-timer div.icon .icon-svg .st1 {
	fill:none;
	stroke:#9b9b9b
}
.wally-wrap--fase2 .promo-wally-find-this .icon .icon-svg--fill .st0, .wally-wrap--fase2 .promo-wally-find-this .icon .icon-svg--fill .st1, .wally-wrap--fase2 .promo-wally-timer div.icon.active .icon-svg--fill .st0, .wally-wrap--fase2 .promo-wally-timer div.icon.active .icon-svg--fill .st1 {
	stroke:#fff
}
.wally-wrap--fase2 .promo-wally-timer div.icon.inactive .icon-svg {
	display:none
}
.wally-wrap--fase2 .promo-wally-find-this .icon .icon-svg {
	width:100%;
	height:100%
}
.wally-wrap--fase2 .promo-wally-find-this .icon .icon-svg .st0, .wally-wrap--fase2 .promo-wally-find-this .icon .icon-svg .st1 {
	fill:none
}
.secondary-nav__item__link .icon-svg {
	vertical-align:0;
	margin-right:10px
}
@media (min-width:30em) {
.main-header {
height:50px
}
.hamburger {
height:50px
}
.hamburger:before {
top:16px
}
.hamburger span {
top:24px
}
.hamburger:after {
top:32px
}
html.mm-opening .hamburger:after, html.mm-opening .hamburger:before {
top:24px
}
.main-header__logo__img--big {
width:50px;
height:50px
}
}
@media (min-width:62em) {
.main-header {
overflow:visible;
height:80px
}
.main-header .container {
text-align:left
}
.hamburger {
display:none
}
.main-header__logo__img--big {
width:80px;
height:80px
}
.main-header__logo__img--small {
-webkit-transform:none;
-ms-transform:none;
-o-transform:none;
transform:none
}
.main-header__logo__img--big--iframe {
float:left;
width:60px;
height:60px
}
.main-nav {
display:block
}
.main-subnav {
display:block
}
.ambient-product__circle__plus .icon-svg {
width:15px;
height:15px
}
}
@media (max-width:61.99em) {
.main-subnav {
display:none!important
}
}
@media (min-width:75em) {
.main-subnav-section--proyectos .container {
padding-left:90px
}
.main-subnav-section--proyectos .container .main-subnav__item {
padding:0 10px
}
.main-subnav-section--recursos .container, .main-subnav-section--proyectos .container {
padding-left:156px
}
.main-subnav-section--empresa .container {
padding-left:101px
}
.main-subnav-section--noticias .container {
padding-left:344px
}
.main-subnav__item {
padding:0 20px
}
.main-subnav__item--small {
padding:0 15px
}
body.lang-fr .main-subnav-section--noticias .container {
padding-left:337px
}
}
@media (min-width:23.4375em) {

.mm-menu .mm-listview>li a.main-nav-mobile__title, .mm-menu .mm-listview>li span.main-nav-mobile__title {
font-size:18px
}
.mm-menu .mm-listview>li a.main-nav-mobile__subtitle, .mm-menu .mm-listview>li span.main-nav-mobile__subtitle {
font-size:18px
}
.mm-menu .mm-listview>li.main-nav-mobile__languages a, .mm-menu .mm-listview>li.main-nav-mobile__languages span {
font-size:18px
}
.mm-menu .mm-listview>li.main-nav-mobile__social .main-nav-mobile__social__link:not(:last-child) {
margin-right:25px
}
}
@media (min-width:48em) {

.carousel-products .owl-controls .owl-nav .owl-next .icon-svg, .carousel-products .owl-controls .owl-nav .owl-prev .icon-svg {
width:29px;
height:75px
}

.carousel-products .owl-controls .owl-nav .owl-prev .icon-svg {
left:19px
}
.carousel-products .owl-controls .owl-nav .owl-next .icon-svg {
right:19px
}
}